---
layout: archive
title: "Awards"
permalink: /awards/
author_profile: true
---

<!-- {% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

{% include base_path %}

<!-- <h2>Peer-reviewed Publications</h2>
<small><em>*Current intern/student at the time of work</em></small>
<hr /> -->

<h2 style="margin-bottom: 0.2em;">Statistics & Analytics</h2>
<!-- <small style="display: block; margin-top: 0; margin-bottom: 0.2em;"><em>*Current intern/student at the time of work</em></small> -->
<hr style="margin-top: 0.2em;" />

<ul>
  <li> One of the Most-Cited Papers, International Journal of Nursing Knowledge (Apr 2024)</li>
  <li> 2nd Place Poster Submission Award, NESS NextGen Data Science Day (Nov 2022)</li>
  <li> Pre-Doctoral Award, Department of Statistics, University of Connecticut (Jun 2022)</li>
  <li> Letter of Recognition, New England Statistical Society, Establishment of NextGen Scholarship (Dec 2021)</li>
  <li> Teaching Award, Department of Statistics, University of Connecticut (Nov 2021)</li>
  <li> Pre-Doctoral Award, Department of Statistics, University of Connecticut (Jun 2021)</li>
  <li> Service Award, Department of Statistics, University of Connecticut (Sep 2020)</li>
  <li> Distinction in Teaching, University of Connecticut, One of the Top-Rated Instructors (Jan 2018)</li>
  <li> Team of the Year, Data Analytics Team, Reed Exhibitions (Jan 2017)</li>
  <li>Completed Honors Thesis in Statistics at Georgetown University (only student in dept.) (May 2016)</li>
</ul>


<h2 style="margin-bottom: 0.2em;">University of Connecticut</h2>
<!-- <small style="display: block; margin-top: 0; margin-bottom: 0.2em;"><em>**Completed statistical analyses for entire dissertation or thesis</em></small> -->
<hr style="margin-top: 0.2em;" />

<ul>
  <li> Elected President of the Department of Statistics, Graduate Student Committee (May 2017-2023)</li>
      <ul>
        <!-- <em>Fostering an increased sense of camaraderie through shared experiences.</em> -->
        <small style="display: block; margin-top: 0; margin-bottom: 0.2em;"><em>Fostering an increased sense of camaraderie through shared experiences.</em></small> 
      </ul>
</ul>
