---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">For related citation info, please refer to <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- <h2>Peer-reviewed Publications</h2>
<small><em>*Current intern/student at the time of work</em></small>
<hr /> -->

<h2 style="margin-bottom: 0.2em;">Peer-reviewed Publications</h2>
<small style="display: block; margin-top: 0; margin-bottom: 0.2em;"><em>*Current intern/student at the time of work</em></small>
<hr style="margin-top: 0.2em;" />

<ol>
  <li>Abu Khait, A., <strong> Menger, A.</strong>, Al-Hammouri, M., ALhamdan, A., Issa, E., Rayapureddy*, H., Hamaideh, S. (2025). The relationship between insomnia and depressive symptoms in a sample of patients with schizophrenia: do psychotic symptoms play a mediating role?.<em> Journal of Psychiatric and Mental Health Nursing</em>, Advance online publication. <a href="https://doi.org/10.1111/jpm.13175">https://doi.org/10.1111/jpm.13175</a> </li>
  <li>Abu Khait, A., <strong> Menger, A.</strong>, Shahrour, G., ALhamdan, A., Issa, E., Hamaideh, S. (2025). The association between psychotic symptoms and suicidal ideation in a sample of patients with schizophrenia: the moderating effect of the frequency of suicidal thoughts.<em> Archives of Psychiatric Nursing</em>, 54, 63-72. <a href="https://doi.org/10.1016/j.apnu.2025.01.004">https://doi.org/10.1016/j.apnu.2025.01.004</a></li>
  <li>Abu Khait, A., <strong> Menger, A.</strong>, Al-Atiyyat, N., Hamaideh, S., Al-Modallal, H., Rayapureddy*, H. (2024). The association between proneness to smartphone addiction and social anxiety among school students and the mediating role of social support: a call to advance Jordanian adolescents' mental health.<em> Journal of the American Psychiatric Nurses Association, 31</em>(2), 183-196. <a href="https://doi.org/10.1177/10783903241261047">https://doi.org/10.1177/10783903241261047</a></li>
  <li>Abu Khait, A., <strong> Menger, A.</strong>, Hamdan-Mansour, A., Aldalaykeh, M., Hamaideh, S., Al-Mrayat, Y., Nusair, H. (2024). The association between coping strategies and psychological and emotional distress among healthcare providers caring for autistic children in Jordan.<em> Western Journal of Nursing Research</em>, <em>46</em>(8), 571-582. <a href="https://doi.org/10.1177/01939459241254782">https://doi.org/10.1177/01939459241254782</a></li>
  <li><strong> Menger, A.</strong>, Sheikh, M.T., Chen, M-H. (2024). Bayesian modeling of survival data in the presence of competing risks with cure fractions and masked causes.<em> Sankhya A, 86-A</em>, S199-S227. <a href="https://doi.org/10.1007/s13171-023-00335-5">https://doi.org/10.1007/s13171-023-00335-5</a></li>  
  <li>Abu Khait, A., <strong> Menger, A.</strong>, Rababa, M., Moldovan*, T., Lazenby, M., Shellman, J. (2024). The mediating role of religion and loneliness on the association between reminiscence functions and depression: a call to advance older adults' mental health.<em> Psychogeriatrics, 24</em>(1), 58-71. <a href="https://doi.org/10.1111/psyg.13041">https://doi.org/10.1111/psyg.13041</a></li>
  <li>Abu Khait, A., <strong> Menger, A.</strong>, Al-Modallal, H., Abdalrahim, A., Moldovan*, T., Hamaideh, S. (2024). Self-transcendence as a mediator of the relationship between reminiscence functions and death anxiety: implications for psychiatric nurses.<em> Journal of the American Psychiatric Nurses Association, 30</em>(3), 646-662. <a href="https://doi.org/10.1177/10783903231174464">https://doi.org/10.1177/10783903231174464</a></li>
  <li>Abu Khait, A., <strong> Menger, A.</strong>, Mahmoud, K., Hamaideh, S. (2023). A moderated mediation model of social support on the association between coping strategies and psycho-emotional distress of healthcare professionals caring for children with autism.<em> Issues in Mental Health Nursing, 44</em>(9), 879-890. <a href="https://doi.org/10.1080/01612840.2023.2232860">https://doi.org/10.1080/01612840.2023.2232860</a></li>
  <li>Sandilos, G., <strong> Menger, A.</strong>, Koorogayala, K., Zhu, C., Daneshpooy, S., Gefen, R., Kovacs, J., Giugliano, D., Kwiatt, M., McClane, S. (2023). Diagnostic accuracy of endoscopy in determining rectal tumor proximity to the peritoneal reflection.<em> International Journal of Colorectal Disease, 38</em>(1), article number 109. <a href="https://doi.org/10.1007/s00384-023-04392-y">https://doi.org/10.1007/s00384-023-04392-y</a></li>
  <li>Abu Khait, A., <strong> Menger, A.</strong>, Shellman, J., Al-Modallal, H., Hamaideh, S. (2022). Confirmatory factor analysis of the Arabic version of the reminiscence functions scale with strict measurement invariance across gender.<em> Perspectives in Psychiatric Care, 58</em>(4), 2145-2153. <a href="https://doi.org/10.1111/ppc.13041">https://doi.org/10.1111/ppc.13041</a></li>
  <li>Abu Khait, A., <strong> Menger, A.</strong>, Hamaideh, S.H., Al-Modallal, H., & Abdalrahim, A. (2022). Nursing students' knowledge about behavioral and biopsychosocial domains of dementia: a cross-sectional survey study.<em> International Journal of Nursing Knowledge, 33</em>(2), 116-127. <a href="https://doi.org/10.1111/2047-3095.12343">https://doi.org/10.1111/2047-3095.12343</a></li>
  <li>Abu Khait, A., <strong> Menger, A.</strong>, Shellman, J. (2022). Psychometric testing of the Arabic version of the reminiscence functions scale.<em> Journal of Nursing Measurement, 30</em>(3), 388-406. <a href="https://doi.org/10.1891/JNM-D-20-00113">https://doi.org/10.1891/JNM-D-20-00113</a></li>
  <li>Menger, R., Shaw, T., Bunch, J., Barry, J., Marciano, G., <strong> Menger, A.</strong>, Martino, A., Lenke, L., & Vitale, M.G. (2020). Health care lobbying, political action committees, and spine surgery.<em> Spine, 45</em>(24), 1736-1742. <a href="https://doi.org/10.1097/BRS.0000000000003693">https://doi.org/10.1097/BRS.0000000000003693</a></li>
  <li>Morris, D.S., Sellers, K.F., <strong> Menger, A.</strong> (2017). Fitting a flexible model for longitudinal count data using the NLMIXED procedure. In<em> SAS Global Forum Proceedings</em>; SAS Institute: Cary, NC, USA. <a href="https://support.sas.com/resources/papers/proceedings17/0202-2017.pdf">https://support.sas.com/resources/papers/proceedings17/0202-2017.pdf</a></li>
  <li>Menger, R., <strong> Menger, A.</strong>, Nanda, A. (2016). Rubgy headgear and concussion prevention: misconceptions increase aggressive play.<em> Neurosurgical Focus, 40</em>(4), E12. <a href="https://doi.org/10.3171/2016.1.FOCUS15615">https://doi.org/10.3171/2016.1.FOCUS15615</a></li>
</ol>


<h2 style="margin-bottom: 0.2em;">Doctoral Dissertation & Master Thesis Contributions</h2>
<small style="display: block; margin-top: 0; margin-bottom: 0.2em;"><em>**Completed statistical analyses for entire dissertation or thesis</em></small>
<hr style="margin-top: 0.2em;" />

<ol>
  <li>Doshi, M. (2022, University of Michigan). **Examining the effect of the 2016 election on depression in undocumented Latinx individuals. Doctoral (Ph.D.) dissertation. (<a href="https://vivo.brown.edu/display/mdoshi">Currently Assistant Professor of Behavioral and Social Sciences @ Brown University</a>)</li>
  <li>Weinstein, G. (2020, University of Florida). **Assessing socioeconomic predictors of dental knowledge. Master of Public Health (MPH) thesis. (<a href="https://facultydirectory.uchc.edu/profile?profileId=Weinstein-Geraldine">Currently Associate Professor, In Residence @ University of Connecticut School of Dental Medicine</a>) </li>
  <li>Abu Khait, A. (2020, University of Connecticut). **Building a foundation for reminiscence research and practice in the Arabic-Jordanian culture. Doctoral (Ph.D.) dissertation. (<a href="https://staff.hu.edu.jo/CV_E.aspx?id=IygbEjYqK5o=">Currently Associate Professor of Psychological Health Nursing @ Hashemite University</a>) </li>
  <li>Chauveron, L. (2019, Montclair State University). **Promoting community-based affirmation for diverse LGBTQ+ youth. Doctoral (Ph.D.) dissertation. (<a href="https://www.linkedin.com/in/lisa-chauveron-ph-d-09aa5219">Currently Sr. Research Scientist @ Amazon</a>) </li>
</ol>

<!-- New style rendering if publication categories are defined 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
{% assign title_shown = false %}
{% assign counter = 0 %}
{% for post in site.publications reversed %}
  {% if post.category != category[0] %}
    {% continue %}
  {% endif %}
  {% unless title_shown %}
    <h2>{{ category[1].title }}</h2><hr />
    <ol>
    {% assign title_shown = true %}
  {% endunless %}
    <li>{% include archive-single.html %}</li>
{% endfor %}
{% if title_shown %}
  </ol>
{% endif %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->


<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->

