---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">For related citation info, please refer to <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- <h2>Peer-reviewed Publications</h2>
<small><em>*Current intern/student at the time of work</em></small>
<hr /> -->

<h2 style="margin-bottom: 0.2em;">Peer-reviewed Publications</h2>
<small style="display: block; margin-top: 0; margin-bottom: 0.2em;"><em>*Current intern/student at the time of work</em></small>
<hr style="margin-top: 0.2em;" />

<ol>
  <li>Abu Khait, A., <strong> Menger, A.</strong>, Al-Hammouri, M., ALhamdan, A., Issa, E., Rayapureddy*, H., Hamaideh, S. (2025). The relationship between insomnia and depressive symptoms in a sample of patients with schizophrenia: do psychotic symptoms play  mediating role?.<em> Journal of Psychiatric and Mental Health Nursing</em>, Advance online publication. <a href="https://doi.org/10.1111/jpm.13175">https://doi.org/10.1111/jpm.13175</a> </li>
  <li>Second item</li>
  <li>Third item</li>
</ol>

<!-- New style rendering if publication categories are defined 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
{% assign title_shown = false %}
{% assign counter = 0 %}
{% for post in site.publications reversed %}
  {% if post.category != category[0] %}
    {% continue %}
  {% endif %}
  {% unless title_shown %}
    <h2>{{ category[1].title }}</h2><hr />
    <ol>
    {% assign title_shown = true %}
  {% endunless %}
    <li>{% include archive-single.html %}</li>
{% endfor %}
{% if title_shown %}
  </ol>
{% endif %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->


<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->

