---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<h2 style="margin-bottom: 0.2em;">Connecticut College - Primary Instructor</h2>
<!-- <small style="display: block; margin-top: 0; margin-bottom: 0.2em;"><em>*Current intern/student at the time of work</em></small> -->
<hr style="margin-top: 0.2em;" />

<table>
 <tr>
  <td>Fall 2021</td>
  <td style="padding-left: 2em;">Advanced Regression Techniques (STA 207)</td>
 </tr>
</table>

<h2 style="margin-bottom: 0.2em;">University of Connecticut - Primary Instructor</h2>
<!-- <small style="display: block; margin-top: 0; margin-bottom: 0.2em;"><em>*Current intern/student at the time of work</em></small> -->
<hr style="margin-top: 0.2em;" />

<table>
 <tr>
  <td>Fall 2022</td>
  <td style="padding-left: 2em;">Contracted to make STAT 1100Q fully accessible for those with disabilities</td>
 </tr>
  <tr>
  <td>Spring 2022</td>
  <td style="padding-left: 2em;">Elementary Concepts of Statistics (STAT 1100Q)</td>
 </tr>
  <tr>
  <td>Fall 2021</td>
  <td style="padding-left: 2em;">Elementary Concepts of Statistics (STAT 1100Q)</td>
 </tr>
  <tr>
  <td>Summer 2021</td>
  <td style="padding-left: 2em;">Statistical Methods (Calculus Level 1) (STAT 3025Q)</td>
 </tr>
  <tr>
  <td>Spring 2021</td>
  <td style="padding-left: 2em;">Elementary Concepts of Statistics (STAT 1100Q)</td>
 </tr>
  <tr>
  <td>Fall 2020</td>
  <td style="padding-left: 2em;">Elementary Concepts of Statistics (STAT 1100Q)</td>
 </tr>
  <tr>
  <td>Summer 2019</td>
  <td style="padding-left: 2em;">Elementary Concepts of Statistics (STAT 1100Q)</td>
 </tr>
  <tr>
  <td>Fall 2018</td>
  <td style="padding-left: 2em;">Introduction to Mathematical Statistics I (STAT 3375Q)</td>
 </tr>
  <tr>
  <td>Fall 2018</td>
  <td style="padding-left: 2em;">Statistical Methods (Calculus Level 1) (STAT 3025Q)</td>
 </tr>
  <tr>
  <td>Summer 2018</td>
  <td style="padding-left: 2em;">Elementary Concepts of Statistics (STAT 1100Q)</td>
 </tr>
</table>
  
<h2 style="margin-bottom: 0.2em;">University of Connecticut - Teaching Assistant</h2>
<!-- <small style="display: block; margin-top: 0; margin-bottom: 0.2em;"><em>*Current intern/student at the time of work</em></small> -->
<hr style="margin-top: 0.2em;" />

<table>
 <tr>
  <td>Fall 2021</td>
  <td style="padding-left: 2em;">Elementary Concepts of Statistics (STAT 1100Q) - 2 sections</td>
 </tr>
  <tr>
  <td>Summer 2020</td>
  <td style="padding-left: 2em;">Introduction to Statistics I (STAT 1000Q) - 1 section</td>
 </tr>
  <tr>
  <td>Spring 2020</td>
  <td style="padding-left: 2em;">Elementary Concepts of Statistics (STAT 1100Q) - 1 section</td>
 </tr>
  <tr>
  <td>Spring 2018</td>
  <td style="padding-left: 2em;">Introduction to Statistics I (STAT 1000Q) - 3 sections</td>
 </tr>
  <tr>
  <td>Fall 2017</td>
  <td style="padding-left: 2em;">Introduction to Statistics I (STAT 1000Q) - 5 sections</td>
 </tr>
</table>

<h2 style="margin-bottom: 0.2em;">University of Connecticut - Complementary Roles</h2>
<!-- <small style="display: block; margin-top: 0; margin-bottom: 0.2em;"><em>*Current intern/student at the time of work</em></small> -->
<hr style="margin-top: 0.2em;" />

<table>
 <tr>
  <td>Spring 2022</td>
  <td style="padding-left: 2em;">Department Tutor</td>
 </tr>
  <tr>
  <td>Spring 2018</td>
  <td style="padding-left: 2em;">Department Tutor</td>
 </tr>
  <tr>
  <td>Fall 2017</td>
  <td style="padding-left: 2em;">Course Grader for Statistical Methods (Calculus Level 1) (STAT 3025Q)</td>
 </tr>
  <tr>
  <td>Fall 2017</td>
  <td style="padding-left: 2em;">Department Tutor</td>
 </tr>
</table>

<h2 style="margin-bottom: 0.2em;">Georgetown University - Teaching Assistant</h2>
<!-- <small style="display: block; margin-top: 0; margin-bottom: 0.2em;"><em>*Current intern/student at the time of work</em></small> -->
<hr style="margin-top: 0.2em;" />

<table>
 <tr>
  <td>Spring 2016</td>
  <td style="padding-left: 2em;">Computer Science Math Methods (COSC) - half of class</td>
 </tr>
  <tr>
  <td>Spring 2016</td>
  <td style="padding-left: 2em;">Probability & Statistics (MATH 040) - 2 sections</td>
 </tr>
  <tr>
  <td>Fall 2015</td>
  <td style="padding-left: 2em;">Multivariable Calculus (MATH 137) - half of class</td>
 </tr>
  <tr>
  <td>Fall 2015</td>
  <td style="padding-left: 2em;">Computer Science Math Methods (COSC 030) - half of class</td>
 </tr>
  <tr>
  <td>Fall 2015</td>
  <td style="padding-left: 2em;">Probability & Statistics (MATH 040) - 2 sections</td>
 </tr>
  <tr>
  <td>Spring 2015</td>
  <td style="padding-left: 2em;">Probability & Statistics (MATH 040) - 2 sections</td>
 </tr>
  <tr>
  <td>Fall 2014</td>
  <td style="padding-left: 2em;">Probability & Statistics (MATH 040) - 2 sections</td>
 </tr>
  <tr>
  <td>Spring 2014</td>
  <td style="padding-left: 2em;">Probability & Statistics (MATH 040) - 2 sections</td>
 </tr>
</table>

