---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<h2 style="margin-bottom: 0.2em;">Connecticut College - Primary Instructor/h2>
<!-- <small style="display: block; margin-top: 0; margin-bottom: 0.2em;"><em>*Current intern/student at the time of work</em></small> -->
<hr style="margin-top: 0.2em;" />

<table>
 <tr>
  <td>Fall 2021</td>
  <td style="padding-left: 2em;">Advanced Regression Techniques (STA 207)</td>
 </tr>
</table>
  
<!-- <ul>
  <li>Fall 2021, <blockquote> <a href="https://doi.org/10.1111/jpm.13175">https://doi.org/10.1111/jpm.13175</a> </blockquote> </li>
  <li>Fall 2021, <blockquote> <a href="https://doi.org/10.1111/jpm.13175">https://doi.org/10.1111/jpm.13175</a> </blockquote> </li>
</ul> -->


<h2 style="margin-bottom: 0.2em;">Doctoral Dissertation & Master Thesis Contributions</h2>
<small style="display: block; margin-top: 0; margin-bottom: 0.2em;"><em>**Completed statistical analyses for entire dissertation or thesis</em></small>
<hr style="margin-top: 0.2em;" />

<ol>
  <li>Doshi, M. (2022, University of Michigan). **Examining the effect of the 2016 election on depression in undocumented Latinx individuals. Doctoral (Ph.D.) dissertation. (<a href="https://vivo.brown.edu/display/mdoshi">Currently Assistant Professor of Behavioral and Social Sciences @ Brown University</a>)</li>
  <li>Weinstein, G. (2020, University of Florida). **Assessing socioeconomic predictors of dental knowledge. Master of Public Health (MPH) thesis. (<a href="https://facultydirectory.uchc.edu/profile?profileId=Weinstein-Geraldine">Currently Associate Professor, In Residence @ University of Connecticut School of Dental Medicine</a>) </li>
  <li>Abu Khait, A. (2020, University of Connecticut). **Building a foundation for reminiscence research and practice in the Arabic-Jordanian culture. Doctoral (Ph.D.) dissertation. (<a href="https://staff.hu.edu.jo/CV_E.aspx?id=IygbEjYqK5o=">Currently Associate Professor of Psychological Health Nursing @ Hashemite University</a>) </li>
  <li>Chauveron, L. (2019, Montclair State University). **Promoting community-based affirmation for diverse LGBTQ+ youth. Doctoral (Ph.D.) dissertation. (<a href="https://www.linkedin.com/in/lisa-chauveron-ph-d-09aa5219">Currently Sr. Research Scientist @ Amazon</a>) </li>
</ol>
