---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<h2 style="margin-bottom: 0.2em;">Connecticut College - Primary Instructor</h2>
<!-- <small style="display: block; margin-top: 0; margin-bottom: 0.2em;"><em>*Current intern/student at the time of work</em></small> -->
<hr style="margin-top: 0.2em;" />

<table>
 <tr>
  <td>Fall 2021</td>
  <td style="padding-left: 2em;">Advanced Regression Techniques <a href="https://conncoll.smartcatalogiq.com/en/2023-2024/catalog/courses/sta-statistics/200/sta-207/">(STA 207)</a>a></td>
 </tr>
</table>

<h2 style="margin-bottom: 0.2em;">University of Connecticut - Primary Instructor</h2>
<!-- <small style="display: block; margin-top: 0; margin-bottom: 0.2em;"><em>*Current intern/student at the time of work</em></small> -->
<hr style="margin-top: 0.2em;" />

<table>
 <tr>
  <td>Fall 2022</td>
  <td style="padding-left: 2em;">Contracted to make <a href="https://statistics.uconn.edu/undergraduate/courses/course/STAT/1100Q/">STAT 1100Q</a> fully accessible for those with disabilities</td>
 </tr>
  <tr>
  <td>Spring 2022</td>
  <td style="padding-left: 2em;">Elementary Concepts of Statistics (<a href="https://statistics.uconn.edu/undergraduate/courses/course/STAT/1100Q/">STAT 1100Q</a>)</td>
 </tr>
  <tr>
  <td>Fall 2021</td>
  <td style="padding-left: 2em;">Elementary Concepts of Statistics (<a href="https://statistics.uconn.edu/undergraduate/courses/course/STAT/1100Q/">STAT 1100Q</a>)</td>
 </tr>
  <tr>
  <td>Summer 2021</td>
  <td style="padding-left: 2em;">Statistical Methods (Calculus Level 1) (<a href="https://statistics.uconn.edu/undergraduate/courses/course/STAT/3025Q/">STAT 3025Q</a>)</td>
 </tr>
  <tr>
  <td>Spring 2021</td>
  <td style="padding-left: 2em;">Elementary Concepts of Statistics (<a href="https://statistics.uconn.edu/undergraduate/courses/course/STAT/1100Q/">STAT 1100Q</a>)</td>
 </tr>
  <tr>
  <td>Fall 2020</td>
  <td style="padding-left: 2em;">Elementary Concepts of Statistics (<a href="https://statistics.uconn.edu/undergraduate/courses/course/STAT/1100Q/">STAT 1100Q</a>)</td>
 </tr>
  <tr>
  <td>Summer 2019</td>
  <td style="padding-left: 2em;">Elementary Concepts of Statistics (<a href="https://statistics.uconn.edu/undergraduate/courses/course/STAT/1100Q/">STAT 1100Q</a>)</td>
 </tr>
  <tr>
  <td>Fall 2018</td>
  <td style="padding-left: 2em;">Introduction to Mathematical Statistics I (<a href="https://statistics.uconn.edu/undergraduate/courses/course/STAT/3375Q/">STAT 3375Q</a>)</td>
 </tr>
  <tr>
  <td>Fall 2018</td>
  <td style="padding-left: 2em;">Statistical Methods (Calculus Level 1) (<a href="https://statistics.uconn.edu/undergraduate/courses/course/STAT/3025Q/">STAT 3025Q</a>)</td>
 </tr>
  <tr>
  <td>Summer 2018</td>
  <td style="padding-left: 2em;">Elementary Concepts of Statistics (<a href="https://statistics.uconn.edu/undergraduate/courses/course/STAT/1100Q/">STAT 1100Q</a>)</td>
 </tr>
</table>
  
<h2 style="margin-bottom: 0.2em;">University of Connecticut - Teaching Assistant</h2>
<!-- <small style="display: block; margin-top: 0; margin-bottom: 0.2em;"><em>*Current intern/student at the time of work</em></small> -->
<hr style="margin-top: 0.2em;" />

<table>
 <tr>
  <td>Fall 2021</td>
  <td style="padding-left: 2em;">Elementary Concepts of Statistics (<a href="https://statistics.uconn.edu/undergraduate/courses/course/STAT/1100Q/">STAT 1100Q</a>) - 2 sections</td>
 </tr>
  <tr>
  <td>Summer 2020</td>
  <td style="padding-left: 2em;">Introduction to Statistics I (<a href="https://statistics.uconn.edu/undergraduate/courses/course/STAT/1000Q/">STAT 1000Q</a>) - 1 section</td>
 </tr>
  <tr>
  <td>Spring 2020</td>
  <td style="padding-left: 2em;">Elementary Concepts of Statistics (<a href="https://statistics.uconn.edu/undergraduate/courses/course/STAT/1100Q/">STAT 1100Q</a>) - 1 section</td>
 </tr>
  <tr>
  <td>Spring 2018</td>
  <td style="padding-left: 2em;">Introduction to Statistics I (<a href="https://statistics.uconn.edu/undergraduate/courses/course/STAT/1000Q/">STAT 1000Q</a>) - 3 sections</td>
 </tr>
  <tr>
  <td>Fall 2017</td>
  <td style="padding-left: 2em;">Introduction to Statistics I (<a href="https://statistics.uconn.edu/undergraduate/courses/course/STAT/1000Q/">STAT 1000Q</a>) - 5 sections</td>
 </tr>
</table>

<h2 style="margin-bottom: 0.2em;">University of Connecticut - Complementary Roles</h2>
<!-- <small style="display: block; margin-top: 0; margin-bottom: 0.2em;"><em>*Current intern/student at the time of work</em></small> -->
<hr style="margin-top: 0.2em;" />

<table>
 <tr>
  <td>Spring 2022</td>
  <td style="padding-left: 2em;"><a href="https://statistics.uconn.edu/undergraduate/tutoring-hours/">Department Tutor</a></td>
 </tr>
  <tr>
  <td>Spring 2018</td>
  <td style="padding-left: 2em;"><a href="https://statistics.uconn.edu/undergraduate/tutoring-hours/">Department Tutor</a></td>
 </tr>
  <tr>
  <td>Fall 2017</td>
  <td style="padding-left: 2em;">Course Grader for Statistical Methods (Calculus Level 1) (<a href="https://statistics.uconn.edu/undergraduate/courses/course/STAT/3025Q/">STAT 3025Q</a>)</td>
 </tr>
  <tr>
  <td>Fall 2017</td>
  <td style="padding-left: 2em;"><a href="https://statistics.uconn.edu/undergraduate/tutoring-hours/">Department Tutor</a></td>
 </tr>
</table>

<h2 style="margin-bottom: 0.2em;">Georgetown University - Teaching Assistant</h2>
<!-- <small style="display: block; margin-top: 0; margin-bottom: 0.2em;"><em>*Current intern/student at the time of work</em></small> -->
<hr style="margin-top: 0.2em;" />

<table>
 <tr>
  <td>Spring 2016</td>
  <td style="padding-left: 2em;">Computer Science Math Methods (<a href="https://jeremybolton.georgetown.domains/courses/mm/">COSC 030</a>) - half of class</td>
 </tr>
  <tr>
  <td>Spring 2016</td>
  <td style="padding-left: 2em;">Probability & Statistics (<a href="https://mathstat.georgetown.edu/undergraduate/course-offerings-2/">MATH 040</a>) - 2 sections</td>
 </tr>
  <tr>
  <td>Fall 2015</td>
  <td style="padding-left: 2em;">Multivariable Calculus (<a href="https://mathstat.georgetown.edu/undergraduate/course-offerings-2/">MATH 137</a>) - half of class</td>
 </tr>
  <tr>
  <td>Fall 2015</td>
  <td style="padding-left: 2em;">Computer Science Math Methods (<a href="https://people.cs.georgetown.edu/~cnewport/teaching/cosc030-fall15/">COSC 030</a>) - half of class</td>
 </tr>
  <tr>
  <td>Fall 2015</td>
  <td style="padding-left: 2em;">Probability & Statistics (<a href="https://mathstat.georgetown.edu/undergraduate/course-offerings-2/">MATH 040</a>) - 2 sections</td>
 </tr>
  <tr>
  <td>Spring 2015</td>
  <td style="padding-left: 2em;">Probability & Statistics (<a href="https://mathstat.georgetown.edu/undergraduate/course-offerings-2/">MATH 040</a>) - 2 sections</td>
 </tr>
  <tr>
  <td>Fall 2014</td>
  <td style="padding-left: 2em;">Probability & Statistics (<a href="https://mathstat.georgetown.edu/undergraduate/course-offerings-2/">MATH 040</a>) - 2 sections</td>
 </tr>
  <tr>
  <td>Spring 2014</td>
  <td style="padding-left: 2em;">Probability & Statistics (<a href="https://mathstat.georgetown.edu/undergraduate/course-offerings-2/">MATH 040</a>) - 2 sections</td>
 </tr>
</table>

